<!--部分テンプレート 投稿Fmt-->

<% if book.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(book.errors.count, "error") %> errors prohibited this obj from being saved:</h2>
       <ul>
       <% book.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
       </ul>
     </div>
     <% end %>


<h2 class="mt-3">New book</h2>
<%= form_with model: book, local:true do |f| %>

 <div class="form-group">
  <%= f.label :Title %>
  <%= f.text_field :title, class:"form-control book_title" %>
  </div>

  <div class="form-group">
  <%= f.label :Opinion %>
  <%= f.text_area :body, class:"form-control book_body" %>
  </div>

  <div class="form-group">
  <button type="submit" class="btn btn-success">Create Book</button>
  </div>
<% end %>