<% @books.each do |book| %><!--コントローラから渡された@books変数内から1つずつ取り出して、post_image変数へ格納-->
<div>
  
  <p><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p> 
  <%= link_to book_path(book.id) do %>
  <p><%= book.title %></p><!--book変数のtitleカラム(bookモデルに定義)-->
  <% end %>
  <p><%= book.body %></p>
  <p><%= book.user.name %></p>
</div>
<% end %>