<div class="container px-5 px-sm-0">
 <div class="row">
   
   <div class="col-md-3"><!--部分テンプレート全体-->
    <%= render 'users/user_info', users: @user %>
    <%= render 'books/post_book', books: @new_book %>
    </div>

<div>
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>
  <p><%= @book.user.name %></p>
  <% if @book.user == current_user %>
  <%= link_to "Delete", book_path(@book), method: :delete %>
  <% end %>
</div>